/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  border: 10px solid #7f00ff;
}

.flex-item {
  padding: 10px;
  font: 900 60px "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}

.item-1 {
  background-image: linear-gradient(45deg, #ff8177, #cf556c);
}

.item-2 {
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
}

.item-3 {
  background: linear-gradient(45deg, #a6c0fe, #f68084);
}

.item-4 {
  background: linear-gradient(45deg, #d4fc79, #96e6a1);
}

.item-5 {
  background: linear-gradient(45deg, #43e97b, #38f9d7);
}

.item-6 {
  background: linear-gradient(45deg, #a18cd1, #fbc2eb);
}

.item-7 {
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.item-8 {
  background: linear-gradient(45deg, #e1eec3, #f05053);
}

/* Custom styles */
.flex-container {
  display: flex;
}

.flex-item {
  /* flex: flex-grow flex-shrink flex-basis */
  flex: 1 0 300px;

  /* Определение размера по оси (главной) */
  /* При row устанавливает ширину, при column - высоту */
  /* flex-basis: 300px; */

  /* Возможность увеличения элементов в случае необходимости (1 - пространство разделяется равномерно). Каждому дочернему элементу устанавливается ед. пространства 1*/
  /* Данным свойством мы просто устанавливаем пропорцию элементам. Мы не делаем их больше */
  /* flex-grow: 1; */
}

.item-2 {
  /* Если элементу установить flex-grow: 2, то оставшейся свободного пространства ему будет уделено в 2 раза больше */
  /* flex-grow: 2; */

  /* Сколько пространства готов отдать элемент в случае необходимости (по-умолчанию: 1) */
  /* item-2 отдаст 2 ед. пространства, если кому-то не будет хватать места */
  flex-shrink: 2;
}

.item-3 {
  /* Если элементу установить flex-grow: 3, то оставшейся свободного пространства ему будет уделено в 3 раза больше */
  /* flex-grow: 3; */

  /* Сколько пространства готов отдать элемент в случае необходимости (по-умолчанию: 1) */
  /* item-3 отдаст 3 ед. пространства, если кому-то не будет хватать места */
  flex-shrink: 3;
}
